#media files
*.webp
*.jpeg
*.jpg
#*.png
*.mp3
*.gif
#other files
logs
*.pyc
*.log
*.out
#settings file
*settings.json
data/redis
data/*.yml
# test files
test*.*
# IDEs
.idea
.vscode
src/pcb_mod/build
as
# python stuff
__pycache__
venv
thatkitebot-venv
