services:
  thatkitebot:
    build:  .
    links:
      - "redis:thatkitebot_redis"
      - "redis_cache:thatkitebot_redis_cache"
      #- "lavalink:lavalink"
    volumes:
      - ./thatkitebot/:/app/thatkitebot
      - ./data/:/app/data/
      - ./trains/:/app/data/trains/
      - ./.git/:/app/.git
    restart:  "no"
    environment:
      - PYTHONUNBUFFERED=1
    command: bash -c "cd /app/ && /app/thatkitebot-venv/bin/python3 -m thatkitebot"

  redis:
    container_name: thatkitebot_redis
    volumes:
      - ./data/redis:/data
    image: "redis:alpine"
    entrypoint: redis-server --appendonly yes

  redis_cache:
    container_name: thatkitebot_redis_cache
    image: "redis:alpine"
    entrypoint: redis-server --save "" --appendonly no

  #lavalink:
  #  container_name: lavalink
  #  volumes:
  #    - ./data/application.yml:/opt/Lavalink/application.yml
  #  image: "fredboat/lavalink"

