aiohttp
bs4
pyyaml
Pillow
Wand
markovify
psutil
numpy
molmass
redis
lxml
scipy
hiredis
matplotlib
xkcd
imagehash
uwuipy
py-cord[speed]==2.5.0
brotlipy
aiodns
toml
aiofiles
pynacl
dulwich
#wavelink==1.3.5
orjson
Brotli
discord_emoji
aiofiles
